//Font
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Rubik+Distressed:regular);

$font_1: "Montserrat", sans-serif;
$font_2: "Lora", serif;
$font_3: "Rubik Distressed", serif;

//Color
$color_1: #fff;
$color_2: #1C1D21;
$color_3: #31C79E;
$color_4: #CDCFD2;
$color_5: #83868E;
